spring:
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:postgresql://localhost:5432/user-service
    username: admin
    password: admin
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    open-in-view: false
  application:
    name: user-service
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
  security:
    oauth2:
      resourceserver:
        jwt:
          secret-value: ${JWT_SECRET:mySecretKeymySecretKeymySecretKeymySecretKeymySecretKeymySecretKey}

jwt:
  secret: ${JWT_SECRET:mySecretKeymySecretKeymySecretKeymySecretKeymySecretKeymySecretKey}
  expiration: 86400000
  refresh-expiration: 604800000

server:
  port: 8080
